<div class="content-headline container">
    <div class="breadCrumbs">
        <div class="breadCrumbs-inner">
            <div class="crumb-page">
                <a href="#">
                    Главная
                </a>
            </div>
            <div class="crumb-page current">
                <a href="#">
                    Межкомнатные двери
                </a>
            </div>
        </div>
    </div>
</div>


<div class="card-page">
    <div class="container product">
        <div class="product__main row">
            <div class="product__image col-12 col-md-6">
                <div class="img">
                    <img src="{{ base_path ~ directory }}assets/img/product-main.jpg" alt="Bravo door">
                </div>
            </div>
            <div class="product__form col-12 col-md-6">
                <form action="" class="product__form-form">
                    <div class="product__labels">
                        <div class="label-inStock">
                            В наличии
                        </div>
                        <div class="label-favorite">
                            Отложить
                        </div>
                    </div>
                    <div class="product__name">
                        <h1>Межкомнатная ламинированная дверь Гост миланский орех</h1>
                        <div class="product__name-article">
                            Артикул:  2020-3001
                        </div>
                    </div>
                    <div class="product__params">
                        <div class="product-size">
                            <div class="size-field">
                                <div class="field-title">Размер</div>
                                <div class="dropdown product_dropdown">
                                    <a class="prod-dropdown dropdown-toggle" href="#" role="button" id="productDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        550x1900
                                    </a>
                                    
                                    <div class="dropdown-menu" aria-labelledby="productDropdown">
                                        <a class="dropdown-item" href="#">600x2000</a>
                                        <a class="dropdown-item" href="#">400x1700</a>
                                    </div>
                                </div>
                                <a href="#" class="how-to-measure">
                                    Как делать замеры
                                </a>
                            </div>
                            <div class="prod-popup-button-wrapper">
                                <div class="product-callback" data-toggle="modal" data-target="#ModalCenter">
                                    Вызвать замещика
                                </div>
                                <div class="free-of-charge">* Бесплатно</div>
                            </div>
                        </div>
                        <div class="product-colors-wrapper">
                            <div class="product-colors">
                                <label for="color-1" class="color-item">
                                    <input type="radio" name="color" id="color-1" value="Светло-коричневый">
                                    <span class="checkbox-color" style="background-color: #FDAD63;"></span>
                                </label>
                                <label for="color-2" class="color-item">
                                    <input type="radio" name="color" id="color-2" value="Коричневый">
                                    <span class="checkbox-color" style="background-color: #A76331;"></span>
                                </label>
                                <label for="color-3" class="color-item">
                                    <input type="radio" name="color" id="color-3" value="Серый">
                                    <span class="checkbox-color" style="background-color: #ECECEC;"></span>
                                </label>
                                <label for="color-4" class="color-item">
                                    <input type="radio" name="color" id="color-4" value="Белый">
                                    <span class="checkbox-color" style="background-color: #fff;"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="product__footer">
                        <div class="product-types">
                            <label for="type-1" class="type-item">
                                <input type="radio" name="type" id="type-1" value="Полотно">
                                <span class="type-info">
                                    <div class="type-name">
                                        Полотно
                                    </div>
                                    <div class="old-price">
                                        <span>14 806</span> ₽
                                    </div>
                                    <div class="price">
                                        <span>10 806</span> ₽
                                    </div>
                                </span>
                            </label>

                            <label for="type-2" class="type-item">
                                <input type="radio" name="type" id="type-2" value="Комплект">
                                <span class="type-info">
                                    <div class="type-name">
                                        Комплект
                                    </div>
                                    <div class="old-price">
                                        <span>14 806</span> ₽
                                    </div>
                                    <div class="price">
                                        <span>10 806</span> ₽
                                    </div>
                                </span>
                            </label>
                        </div>
                        <div class="product-buy">
                            <button type="submit" class="shop_buy">
                                <span class="button-text">В корзину</span>
                            </button>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
            <div class="product-info row">
                <div class="product__description col-12 col-lg-6">
                    <div class="product__description-inner">
                        <div class="description-title general-title">Описание</div>
    
                        <div class="description-text">
                            <p>Гост - межкомнатная дверь, покрытая ламинированной пленкой. Низкая цена, красивый внешний вид. Отлично подходят при ограниченном бюджете.</p>
    
                            <p>Производитель оставляет за собой право изменять комплектацию и конструкцию, не ухудшающие эксплуатационные характеристики изделий, без предварительного уведомления.</p>
                        </div>
                    </div>
                </div>
    
                <div class="product__options col-12 col-lg-6">
                    <div class="product__options-inner">
                        <div class="product__options-title general-title">Характеристики</div>
                        <div class="product__options-body">
                            <div class="option-item">
                                <div class="option-title">Материал:</div>
                                <div class="option-descrition">Бруст хвойных пород, МДФ, кромка ПВХ</div>
                            </div>
                            <div class="option-item">
                                <div class="option-title">Внутреннее заполнение:</div>
                                <div class="option-descrition">Жесткий сотовый наполнитель</div>
                            </div>
                            <div class="option-item">
                                <div class="option-title">Каркас полотна:</div>
                                <div class="option-descrition">Брус хвойных пород</div>
                            </div>
                            <div class="option-item">
                                <div class="option-title">Отделка полотна:</div>
                                <div class="option-descrition">Finish Flex 2D - декоративный материал с защитным лаком (Германия, Польша)</div>
                            </div>
                            <div class="option-item">
                                <div class="option-title">Толщина полотна (мм):</div>
                                <div class="option-descrition">38</div>
                            </div>
                            <div class="option-item">
                                <div class="option-title">Цвет:</div>
                                <div class="option-descrition">Белый</div>
                            </div>
                            <div class="option-item">
                                <div class="option-title">Вес:</div>
                                <div class="option-descrition">10 кг</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container collections">
        <div class="collections__similar">
            <div class="collections__similar-title general-title">Похожие товары</div>
            <div class="collections__similar-slider prod-slider-init owl-carousel">
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>

            </div>    
        </div>

        

        <div class="collections__funiture">
            <div class="collections__funiture-title general-title">Фунитура</div>
            <div class="collections__funiture-slider prod-slider-init owl-carousel">
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>

            </div>
        </div>

        <div class="collections__recent">
            <div class="collections__recent-title general-title">Вы смотрели</div>
            <div class="collections__recent-slider prod-slider-init owl-carousel">
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/similar-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>
                <form action="" class="product-item">
                    <a href="#" class="product-name">
                        Мариам Флоренция 3 Манголия
                    </a>
                    <div class="product-image-wrapper">
                        <img src="{{ base_path ~ directory }}assets/img/funiture-product.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                    </div>
                    <div class="price-wrapper">
                        <div class="price-wr">
                            <span class="price">10 806</span> ₽
                        </div>
                    </div>
                    <div class="product-buttons">
                        <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                        <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                    </div>
                </form>

            </div>
            
        </div>
    </div>
</div>
