<div class="market_wrapper">
    <div class="content-headline container">
        <div class="breadCrumbs">
            <div class="breadCrumbs-inner">
                <div class="crumb-page">
                    <a href="#">
                        Главная
                    </a>
                </div>
                <div class="crumb-page current">
                    <a href="#">
                        Межкомнатные двери
                    </a>
                </div>
            </div>
        </div>
        <h1 class="general-title">Межкомнатные двери</h1>
    </div>

    <div class="market-page">
        <div class="market-page-inner container">
            
            <div class="row">
                <div class="market-left_bar col-lg-3">
                    <div class="market-leftbar-inner">
                        <nav class="folders-menu">
                            <ul>
                                <li class="folder-item">
                                    <a href="#">
                                        <span>
                                            Ламинированные
                                        </span>
                                    </a>
                                </li>
                                <li class="folder-item"><a href="#"><span>Экошпон</span></a></li>
                                <li class="folder-item"><a href="#"><span>Финиш Флекс</span></a></li>
                                <li class="folder-item"><a href="#"><span>Шпонированные</span></a></li>
                                <li class="folder-item"><a href="#"><span>Из массива</span></a></li>
                                <li class="folder-item"><a href="#"><span>ПВХ-пленка</span></a></li>
                                <li class="folder-item"><a href="#"><span>Эмаль</span></a></li>
                                <li class="folder-item"><a href="#"><span>Стеклянные двери</span></a></li>
                                <li class="folder-item"><a href="#"><span>Для бани и сауны</span></a></li>
                                <li class="folder-item"><a href="#"><span>Складные двери</span></a></li>
                                <li class="folder-item"><a href="#"><span>Двойные</span></a></li>
                            </ul>
                        </nav>

                        <div class="filter-wrapper">
                            <div class="filter-layout filter_append-js">
                                <div class="filter-body">
                                <div class="filter-title">Фильтр</div>
                                <form action="" class="filter">
                                    <div class="filter-item price">
                                        <div class="item-title opened">Цена</div>
                                        <div class="item-body">
                                            <div class="min-price-wrapper">
                                                <div class="range-title">от</div>
                                                <input type="text" name="range-min">
                                            </div>
                                            <div class="max-price-wrapper">
                                                <div class="range-title">до</div>
                                                <input type="text" name="range-max">
                                            </div>

                                            <div id="range_slider" class="range-slider"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="filter-item colors">
                                        <div class="item-title">Цвет</div>
                                        <div class="item-body checkboxes">
                                            <div class="item-outer">
                                                <label for="color-1">
                                                    <input type="checkbox" name="color" id="color-1" value="Светло-коричневые">
                                                    <span class="checkbox-color" style="background-color: #FDAD63;"></span>
                                                    <span class="item-text">Светло-коричневые</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="color-2">
                                                    <input type="checkbox" name="color" id="color-2" value="Коричневые">
                                                    <span class="checkbox-color" style="background-color: #A76331;"></span>
                                                    <span class="item-text">Коричневые</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="color-3">
                                                    <input type="checkbox" name="color" id="color-3" value="Серые">
                                                    <span class="checkbox-color" style="background-color: #ECECEC;"></span>
                                                    <span class="item-text">Серые</span>
                                                </label>
                                            </div>

                                            <div class="item-outer">
                                                <label for="color-4">
                                                    <input type="checkbox" name="color" id="color-4" value="Белые">
                                                    <span class="checkbox-color" style="background-color: #fff;"></span>
                                                    <span class="item-text">Белые</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="color-5">
                                                    <input type="checkbox" name="color" id="color-5" value="Чёрные">
                                                    <span class="checkbox-color" style="background-color: #000;"></span>
                                                    <span class="item-text">Чёрные</span>
                                                </label>
                                            </div>
                                            <div class="more-items">
                                                <div class="filter-more f-more-js">Ещё</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter-item vendors">
                                        <div class="item-title">Производитель</div>
                                        <div class="item-body checkboxes">
                                            <div class="item-outer">
                                                <label for="vendor-1">
                                                    <input type="checkbox" name="vendor" id="vendor-1" value="Браво">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">Браво</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="vendor-2">
                                                    <input type="checkbox" name="vendor" id="vendor-2" value="Браво Люкс">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">Браво Люкс</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="vendor-3">
                                                    <input type="checkbox" name="vendor" id="vendor-3" value="el`PORTA">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">el`PORTA</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="vendor-4">
                                                    <input type="checkbox" name="vendor" id="vendor-4" value="MR.WOOD">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">MR.WOOD</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="vendor-5">
                                                    <input type="checkbox" name="vendor" id="vendor-5" value="Производитель">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">Производитель</span>
                                                </label>
                                            </div>
                                            <div class="more-items">
                                                <div class="filter-more f-more-js">Ещё</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter-item door-size">
                                        <div class="item-title">Размер двери</div>
                                        <div class="item-body checkboxes">
                                            <div class="item-outer">
                                                <label for="size-1">
                                                    <input type="checkbox" name="size" id="size-1" value="Размер 1">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">Размер 1</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="size-2">
                                                    <input type="checkbox" name="size" id="size-2" value="Размер 2">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">Размер 2</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="size-3">
                                                    <input type="checkbox" name="size" id="size-3" value="Размер 3">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">Размер 3</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="size-4">
                                                    <input type="checkbox" name="size" id="size-4" value="Размер 4">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">Размер 4</span>
                                                </label>
                                            </div>

                                            <div class="more-items">
                                                <div class="filter-more f-more-js">Ещё</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter-item door-style">
                                        <div class="item-title">Стиль</div>
                                        <div class="item-body checkboxes">
                                            <div class="item-outer">
                                                <label for="style-1">
                                                    <input type="checkbox" name="style" id="style-1" value="Стиль 1">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">Стиль 1</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="style-2">
                                                    <input type="checkbox" name="style" id="style-2" value="Стиль 2">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">Стиль 2</span>
                                                </label>
                                            </div>
                                            <div class="item-outer">
                                                <label for="style-3">
                                                    <input type="checkbox" name="style" id="style-3" value="Стиль 3">
                                                    <span class="checkbox"></span>
                                                    <span class="item-text">Стиль 3</span>
                                                </label>
                                            </div>
                                    
                                            <div class="more-items">
                                                <div class="filter-more f-more-js">Ещё</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter-buttons">
                                        <div class="submit-filter">Показать</div>
                                        <div class="remove-filter">Сбросить</div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market-content col-lg-9 col-md-12">
                    <div class="market-content_inner">
                        <div class="sorting-panel">
                            <div class="filter-button" data-toggle="modal" data-target="#FilterModal">
                                Фильтр
                            </div>
                            <div class="sorting">
                                <div class="sort-title">Сортировать по</div>
                                <div class="sorting-points">
                                    <a href="#" class="sorting-type custom-sort selected">
                                        нашему
                                    </a>
                                    <a href="#" class="sorting-type popular-sort">
                                        популярности
                                    </a>

                                    <a href="#" class="sorting-type price-sort">
                                        цене
                                    </a>

                                    <a href="#" class="sorting-type new-sort">
                                        новизне
                                    </a>

                                    <a href="#" class="sorting-type stocks-sort">
                                        скидке
                                    </a>
                                </div>
                                <div class="dropdown dropdown_sorting">
                                    <a class="sort-panel-dropdown dropdown-toggle" href="#" role="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        по нашему
                                    </a>
                                    
                                    <div class="dropdown-menu" aria-labelledby="sortDropdown">
                                        <a class="dropdown-item" href="#">по нашему</a>
                                        <a class="dropdown-item" href="#">популярности</a>
                                        <a class="dropdown-item" href="#">цене</a>
                                        <a class="dropdown-item" href="#">новизне</a>
                                        <a class="dropdown-item" href="#">скидке</a>
                                    </div>
                                </div>
                            </div>
                            <div class="products-per-page">
                                <div class="per-page-title">На странице</div>
                                <div class="page-points">
                                    <a href="#" class="per-page selected" data-count="40">40</a>
                                    <a href="#" class="per-page" data-count="80">80</a>
                                    <a href="#" class="per-page" data-count="200">200</a>
                                </div>
                                <div class="dropdown dropdown_products-per-page">
                                    <a class="sort-panel-dropdown dropdown-toggle" href="#" role="button" id="pagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        40
                                    </a>
                                    
                                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                                        <a class="dropdown-item" href="#">40</a>
                                        <a class="dropdown-item" href="#">80</a>
                                        <a class="dropdown-item" href="#">200</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content products-wrapper">
                            <div class="row products-row">
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="old-price-wr">
                                                <span class="old-price">14 806</span> ₽
                                            </div>
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>

                                    </form>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>

                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6 col-sm-4 col-md-3 product-layout">
                                    <form action="" class="product-item">
                                        <a href="#" class="product-name">
                                            Мариам Флоренция 3 Манголия
                                        </a>

                                        <div class="product-image-wrapper">
                                            <img src="{{ base_path ~ directory }}assets/img/market-img.jpg" alt="Мариам Флоренция 3 Манголия" class="product-image">
                                        </div>
                                        <div class="price-wrapper">
                                            <div class="price-wr">
                                                <span class="price">10 806</span> ₽
                                            </div>
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="Отложить"></a>
                                            <a href="#" class="cart-button" class="favorite-button" data-toggle="tooltip" data-placement="bottom" title="В корзину"></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="pagination-wrapper">
                                  <div class="pagination-list">
                                    <div class="page-item page-prev"><a href="#">Назад</a></div>
                                    
                                    <div class="pages-wrapper">
                                        <div class="page-item"><a href="#">1</a></div>
                                        <div class="page-item current-page"><a href="#">2</a></div>
                                        <div class="page-item"><a href="#">3</a></div>
                                        <div class="page-item"><a href="#">4</a></div>
                                        <div class="page-item hide-in-mobile"><a href="#">5</a></div>

                                        <div class="page-item show-in-mobile"><a href="#">...</a></div>
                                        <div class="page-item show-in-mobile"><a href="#">30</a></div>
                                        
                                    </div>
                                    <div class="page-item page-next"><a href="#">Вперёд</a></div>
                                  </div>
                            </div>

                            <div class="callback-block-wrapper">
                                <div class="callback-inner">
                                    <div class="callback-text">
                                        <div class="callback-title">Выезд замерщика</div>
                                        <div class="callback-note">Услуга замера предоставляется бесплатно</div>
                                    </div>
                                    <button class="callback-block-button" data-toggle="modal" data-target="#ModalCenter">
                                        Вызвать замещика
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade popup_form" id="FilterModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
            <button type="button" class="close form_close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>